.story-container{
  text-align:center;
  padding:100px 20px;
}

.section-title{
  font-size:40px;
  color:#c2185b;
}

.tamil-title{
  font-family:"Noto Serif Tamil";
  color:#7a3652;
}

.timeline{
  display:flex;
  gap:20px;
  justify-content:center;
  flex-wrap:wrap;
  margin-top:20px;
}

.timeline-box{
  padding:20px;
  background:#fff;
  border-radius:10px;
}

.timeline-box{
  padding:20px;
  background:#fff;
  border-radius:10px;
  min-width:200px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}